<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sw | Project3</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here">
			</form>
        </div>
        
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="/"><img src="/stylesheets/voiet/img/kom.png" alt=""></a>
                </div>
                <div class="header-right">
                    <img src="/stylesheets/voiet/img/icons/search.png" alt="" class="search-trigger">
                   
                    <div class="user-access">
                    <img src="/stylesheets/voiet/img/icons/man.png" alt="">
                    </div>
             
                        <img src="/stylesheets/voiet/img/icons/bag.png" alt="">
                        <span>2</span>
                    </a>
                </div>
                
               
                 
                
                
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/product_page">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="/product_page">Product Page</a></li>
                                <li><a href="/cart">Shopping Card</a></li>
                                <li><a href="/logout">logout</a></li>
                            </ul>
                        </li>
                        <li><a href="/product_page/about">About</a></li>
                        <!-- <li><a href="./check-out.html">Blog</a></li> -->
                        <li><a href="/product_page/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="/stylesheets/voiet/img/icons/delivery.png" alt="">
                        <p>국내 어디든 무료 배송</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="/stylesheets/voiet/img/icons/voucher.png" alt="">
                        <p>학생시 20% 할인</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                    <img src="/stylesheets/voiet/img/icons/sales.png" alt="">
                    <p>다량 구매시 30% 할인</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->
    <!-- Header End -->

    <!-- Hero Slider Begin -->

    <!-- Hero Slider End -->
    <p> 
    <!-- Features Section Begin -->
    <section class="features-section spad">
        <div class="features-ads">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-features-ads first">
                            <img src="/stylesheets/voiet/img/icons/f-delivery.png" alt="">
                            <h4>무료 배송</h4>
                            <p>김삼철 쇼핑몰은 고객님들의 부담을 덜기 위해
                                무료 배송을 지원해드리고 있습니다. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads second">
                            <img src="/stylesheets/voiet/img/icons/coin.png" alt="">
                            <h4>중고시 환불 </h4>
                            <p>김삼철 쇼핑몰은 100% 새책 판매 한다는 것을
                                보장합니다. 아닐시 100% 환불 해드리겠습니다. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads">
                            <img src="/stylesheets/voiet/img/icons/chat.png" alt="">
                            <h4>24시간 상담</h4>
                            <p>김삼철 쇼핑몰은 24시간 무료 상담이 가능합니다.
                                 1:1 문의를 통해 진행해 주세요. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <!-- Page Add Section Begin -->
     <section class="page-add cart-page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>Cart<span>.</span></h2>
                        <a href="#">Home</a>
                    </div>
                </div>
                <div class="col-lg-8">
                   
                </div>
            </div>
        </div>
    </section>
    
   
<div class="super_container">

    <div class="cart_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cart_title">your shopping cart</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_bar d-flex flex-row align-items-center justify-content-start">
						<div class="cart_bar_title_name">Product</div>
						<div class="cart_bar_title_content ml-auto">
							<div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
								<div class="cart_bar_title_price">Price</div>
								<div class="cart_bar_title_quantity">Quantity</div>
								<div class="cart_bar_title_total">Total</div>
								<div class="cart_bar_title_button"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_products">
						<ul>
							<%
							var pass_total_price=0;
							for (var i=0; i<results.length; i++){
								var oneItem= results[i];
								pass_total_price=oneItem.product_price+pass_total_price;
							%>
							<li class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
								<!-- Product Image -->
								<div class="cart_product_image"><img style="width:120px;height:120px;" src="images/<%=oneItem.image1%>" alt="" ></div>
								<!-- Product Name -->
								<div class="cart_product_name"><a href="product"><%=oneItem.product_name%></a></div>
								<div class="cart_product_info ml-auto">
									<div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
										<!-- Product Price -->
										<div class="cart_product_price"><%=oneItem.product_price%>원</div>
										<!-- Product Quantity -->
										<div class="product_quantity_container">
											<div class="product_quantity clearfix">
												<input id="quantity_input" type="text" pattern="[0-9]*" value="1">
												<div class="quantity_buttons">
													<div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
													<div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
												</div>
											</div>
										</div>
										<!-- Products Total Price -->
										<div class="cart_product_total"><%=oneItem.product_price%>원</div>
										<!-- Product Cart Trash Button -->
										<div class="cart_product_button">
											<button class="cart_product_remove" onclick="window.location.href='./<%=oneItem.cart_id%>'" ><img src="images/trash.png" alt="" ></button>
										</div>
									</div>
								</div>

							</li>
							<%
						}
						%>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start">
						<!--<button class="button_clear cart_button">clear cart</button>
						<button class="button_update cart_button">update cart</button>-->
						<button class="button_update cart_button_2 ml-md-auto" onclick="window.location.href='../categories'">continue shopping</button>
					</div>
				</div>
			</div>
			<form action="./<%=pass_total_price%>" id="checkout_form" method="post">
			<div class="row cart_extra">
				<!-- Cart Coupon -->
				<div class="col-lg-6">
					<div class="billing">
						<div class="checkout_title">billing details</div>
						<div class="checkout_form_container">
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
									<input type="text" name="user_name" class="checkout_input" placeholder="Name" required="required">
								</div>
								<input type="hidden" name="total_price" value="<%=total_price%>">
								<select name="country" id="country" class="country_select checkout_input">
									<option>대한민국</option>
									<option>북한</option>
									<option>미국</option>
								</select>
								<textarea name="checkout_comment" id="address" class="checkout_comment" placeholder="상세 주소"></textarea>
						</div>
					</div>
				</div>
				<!-- Cart Total -->
				<!-- Cart Details -->
				<div class="col-lg-6">
					<div class="cart_details">
						<div class="checkout_title">cart total</div>
						<div class="cart_total">
							<ul>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Product</div>
									<div class="cart_total_price ml-auto">Total</div>
								</li>
								<%
								var total=0;
								var delivery=0;
								for (var i=0; i<results.length; i++){
									var oneItem= results[i];
									total=oneItem.product_price + total;
								%>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title"><%=oneItem.product_name%></div>
									<div class="cart_total_price ml-auto"><%=oneItem.product_price%>원</div>
								</li>
								<%
								}
								if(total<20000)
								 delivery=5000;
								else
								 delivery=0;
								%>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Subtotal</div>
									<div class="cart_total_price ml-auto"><%=total%>원</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Shipping</div>
									<div class="cart_total_price ml-auto"><%=delivery%>원</div>
								</li>
								<%
								var total_price=total+delivery;
								%>
								<li class="d-flex flex-row align-items-start justify-content-start total_row">
									<div class="cart_total_title">Total</div>
                                    <div class="cart_total_price ml-auto"><%=total_price%>원</div>
                                    <button class="cart_total_button" type="submit">place order</button>
								</li>
							</ul>
						</div>
					
					</div>
				</div>
			</div>
			</form>

		</div>
	</div>
</div>




  <!-- Cart Page Section Begin
  <div class="cart-page">
    <div class="container">
        <div class="cart-table">
            <table>
                <thead>
                    <tr>
                        <th class="product-h">Product</th>
                        <th>Price</th>
                        <th class="quan">Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="product-col">
                            <img src="/stylesheets/voiet/shop/img-1.jpg" alt="">
                            <div class="p-title">
                                <h5>c언어</h5>
                            </div>
                        </td>
                        <td class="price-col">$29</td>
                        <td class="quantity-col">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </td>
                        <td class="total">$29</td>
                        <td class="product-close">x</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cart-btn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="coupon-input">
                        <input type="text" placeholder="Enter cupone code">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 text-left text-lg-right">
                    <div class="site-btn clear-btn">Clear Cart</div>
                    <div class="site-btn update-btn">Update Cart</div>
                </div>
            </div>
        </div>
    </div>
    <div class="shopping-method">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shipping-info">
                        <h5>Choose a shipping</h5>
                        <div class="chose-shipping">
                            <div class="cs-item">
                                <input type="radio" name="cs" id="one">
                                <label for="one" class="active">
                                    Free Standard shhipping
                                    <span>Estimate for New York</span>
                                </label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" name="cs" id="two">
                                <label for="two">
                                    Next Day delievery $10
                                </label>
                            </div>
                            <div class="cs-item last">
                                <input type="radio" name="cs" id="three">
                                <label for="three">
                                    In Store Pickup - Free
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="total-info">
                        <div class="total-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Total</th>
                                        <th>Subtotal</th>
                                        <th>Shipping</th>
                                        <th class="total-cart">Total Cart</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="total">$29</td>
                                        <td class="sub-total">$29</td>
                                        <td class="shipping">$10</td>
                                        <td class="total-cart-p">$39</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <a href="#" class="primary-btn chechout-btn">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 Cart Page Section End -->


























  
    <!-- Logo Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="newslatter-form">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                        </form>
                    </div>
                </div>
            </div>





		</div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/stylesheets/voiet/js/jquery-3.3.1.min.js"></script>
    <script src="/stylesheets/voiet/js/bootstrap.min.js"></script>
    <script src="/stylesheets/voiet/js/jquery.magnific-popup.min.js"></script>
    <script src="/stylesheets/voiet/js/jquery.slicknav.js"></script>
    <script src="/stylesheets/voiet/js/owl.carousel.min.js"></script>
    <script src="/stylesheets/voiet/js/jquery.nice-select.min.js"></script>
    <script src="/stylesheets/voiet/js/mixitup.min.js"></script>
    <script src="/stylesheets/voiet/js/main.js"></script>
</body>

</html>
