<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sw | Project3</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here">
			</form>
        </div>
        
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="/"><img src="/stylesheets/voiet/img/kom.png" alt=""></a>
                </div>
                <div class="header-right">
                    <img src="/stylesheets/voiet/img/icons/search.png" alt="" class="search-trigger">
                   
                    <div class="user-access">
                    <img src="/stylesheets/voiet/img/icons/man.png" alt="">
                    </div>
             
                        <img src="/stylesheets/voiet/img/icons/bag.png" alt="">
                        <span>2</span>
                    </a>
                </div>
                
               
                 
                
                
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/product_page">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="/product_page">Product Page</a></li>
                                <li><a href="/cart">Shopping Card</a></li>
                                <li><a href="/logout">logout</a></li>
                            </ul>
                        </li>
                        <li><a href="/product_page/about">About</a></li>
                        <!-- <li><a href="./check-out.html">Blog</a></li> -->
                        <li><a href="/product_page/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="/stylesheets/voiet/img/icons/delivery.png" alt="">
                        <p>국내 어디든 무료 배송</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="/stylesheets/voiet/img/icons/voucher.png" alt="">
                        <p>학생시 20% 할인</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                    <img src="/stylesheets/voiet/img/icons/sales.png" alt="">
                    <p>다량 구매시 30% 할인</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->
    <!-- Header End -->

    <!-- Hero Slider Begin -->

    <!-- Hero Slider End -->
    <p> 
    <!-- Features Section Begin -->
    <section class="features-section spad">
        <div class="features-ads">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-features-ads first">
                            <img src="/stylesheets/voiet/img/icons/f-delivery.png" alt="">
                            <h4>무료 배송</h4>
                            <p>김삼철 쇼핑몰은 고객님들의 부담을 덜기 위해
                                무료 배송을 지원해드리고 있습니다. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads second">
                            <img src="/stylesheets/voiet/img/icons/coin.png" alt="">
                            <h4>중고시 환불 </h4>
                            <p>김삼철 쇼핑몰은 100% 새책 판매 한다는 것을
                                보장합니다. 아닐시 100% 환불 해드리겠습니다. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads">
                            <img src="/stylesheets/voiet/img/icons/chat.png" alt="">
                            <h4>24시간 상담</h4>
                            <p>김삼철 쇼핑몰은 24시간 무료 상담이 가능합니다.
                                 1:1 문의를 통해 진행해 주세요. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <!-- Header Info End -->
   <!-- Header End -->

   <!-- Page Add Section Begin -->
   <section class="page-add cart-page-add">
       <div class="container">
           <div class="row">
               <div class="col-lg-4">
                   <div class="page-breadcrumb">
                       <h3>회원정보</h3>
                      
                   </div>
               </div>
               
           </div>
       </div>
   </section>
   <!-- Page Add Section End -->

   <!-- Cart Page Section Begin -->
   <div class="cart-page">
       <div class="container">
           <div class="cart-table">
               <table>
                   <thead>
                       <tr>
                           <th class="product-h">UserID</th>
                           <th>아이디</th>
                           <th>이름</th>
                           <th>전화번호</th>
                           <th>권환</th>
                           <th>주소</th>
                           <th>전공</th>
                       </tr>
                   </thead>
                   <tbody>
                      

       
       
       <tr>
           <td><%=rows.user_id%></td>
           <td><%=rows.id%></td>
           <td><%=rows.name%></td>
            <td><%=rows.tel%></td>
           <td><%=rows.grade%></td>
            <td><%=rows.address%></td>
           <td><%=rows.major%></td>
       </tr>

                   </tbody>
               </table>
           </div>
           
       </div>
     
   </div>
   <!-- Cart Page Section End -->

   <!-- Js Plugins -->
   <script src="/js/jquery-3.3.1.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
   <script src="/js/jquery.magnific-popup.min.js"></script>
   <script src="/js/jquery.slicknav.js"></script>
   <script src="/js/owl.carousel.min.js"></script>
   <script src="/js/jquery.nice-select.min.js"></script>
   <script src="/js/mixitup.min.js"></script>
   <script src="/js/main.js"></script>



</body></html>